.awp{
    .set{
        .set_typography{
            
        }
        /*
        .setTypo{
            .setAlignment{
                width: 50%;
                li{
                    display: inline-block;
                }
            }
            .setLightHeight{
                width: 50%;
            }
        }
        */
        .set_typographyFonts{
            
        }
        .set_typographyColorHex{
            
        }
        .set_setLinkhref{
            
        }
        .set_typographyLink{
            
        }
        /*
         .setLink{
            .targetOptions {
                .block{
                    display: inline-block;
                    width: 49%;
                    vertical-align: top;
                }
                span{
                    line-height: 50px;
                }
                .switch{ float:right;margin-top: 14px;}
                .onoffswitch{
                }
            }
        }
        */
        .set_graphicImage{
            
        }
        .set_graphicVideo{
            
        }
        .set_extra{
            
        }
        .set_sectionOption{
            .sectionExamples li img{
                width: 140px;
            }
        }
        .set_addElement{
            
        }
        
    }
}