@import 'switch.scss'; 

@mixin displayflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.hide{display: none;}

.awp{
    background-color: azure;
    border-radius: 5px;
    width: 100%;
    
    i:hover{ color:red;}
    
    .options{
        background-color:red;
        border: solid 1px black;
        >div{ 
            padding: 0em 0.4em;
            background-color: antiquewhite;
            
            .typoOptions{ 
                background-color: aquamarine;
            }
        }
    }
    
    .set  {border: solid 1px black; }
    .Abtn {@include border-radius(5px);}
    .Abtn-lg    {}
    .Abtn-def   {background: transparent;}
    .Abtn-circle {
        height: 20px; width: 20px;
        @include border-radius(50%);
    }
    
}
/* Global CSS */
.flex-parent{
    margin: auto;
    @include displayflex;

    >div{
        text-align: center;
    }
}
