$darktheme:#444; 

$light-color: #fff;
$light-bgcolor: #fadafd;
$light-btncolor: #fff;
$light-btnColorSolid: #fff;
$light-btnColorSolidHover: #fadafd;
$light-btnColorBorder: #fff;
$light-btnColorBorderHover: #fadafd;


$light-bordercolor: #fff;
$listAlign: -4px;
@import 'switch.scss';

@mixin displayflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


* {
    margin: 0;
    padding: 0
}


.hide{display: none !important;}
.dark{
    color: $light-color;
    .setLink{
        .a-btn-lg{
            width: 100%;
            padding: 8px 0px;
            background-color: transparent;
            border: solid 1px white;
            color: white;
            @include border-radius(50px);
        }
    }
}
.awp{
    float: left;
    width: 300px;
    
    
    .arrows{
        margin: 0 auto;
    }
    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $darktheme;
    }
    .arrow-down {
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $darktheme;
    }
    .controller{
        background-color: $darktheme;
        padding: 5px 3px 12px 9px;
        @include border-radius(5px);
    }
    
    /*navigation*/
    li {

        a{
            height: 26px;
            width: 26px;
            line-height: 26px;
            vertical-align: middle;
            text-align: center;
            display: block;
        }
        a:hover{
            background-color: $light-bgcolor;
        }


        .nav-icon i{
            line-height: 26px;
        }


    }
    /*Active list */

    /*general buttons*/
    .a-btn-circle{
        height: 22px; width: 22px;
        @include border-radius(50%);
    }
    .textButton{
        width: auto;
        display: table-cell;
        vertical-align: middle;
        .button{
           width: auto !important;
            color: #2a2a2a;
            text-transform: uppercase;
            font-size: 9px;line-height:10px;
            padding: 1px 3px;
            margin: 0px 5px;
            background-color: $light-bgcolor;
            @include border-radius(7px);
        }
    }
    .solid{
        background-color: $light-btnColorSolid;
        :hover{
            background-color: $light-btnColorSolidHover;
        }
    }

    
    /*Temporal*/
    .hideSubMenu { display: none;}
    .hardhideSubMenu {display:none !important;}

   

    .inlineblock li{
        display: inline-block;
    }

    >.options{
        position: relative;
    }
    .activelist {
         position: relative;
        >ul{
            top: 0px;left: 26px;
        }
    }
    .activelist .hideSubMenu { display: block;}
    
    .activeSublist{
        position: relative;
         >ul{
            top: 0px;left: 0px;
             background-color: yellow;
             width: 100%;
        }
    }
    .activeSubSublist{
         position: relative;
    }

    .options{
       
        background-color: $darktheme;
        /*width: 100%;*/
        a{

        }
        li{
            height: 26px;
            vertical-align: top;
            word-spacing: normal;
            /*padding: 4px;*/
            display: inline-block;
            text-decoration: none;
            color: #fff;
        }

        .active{
            >a{
                display: inline-block;
            }
            >ul{
                width: 100%;
                height: 100%;
               /* position: absolute;
                top: 0;
                left: 0;8*/
                opacity: 1;
                /*pointer-events: auto;*/
                display: inline-block;
                margin-top: $listAlign;
            }
        }
        .animate>ul{
            word-wrap: nowrap;

          /*  pointer-events: none;*/
            -webkit-transition: opacity 0.4s;
            -moz-transition: opacity 0.4s;
            -o-transition: opacity 0.4s;
            transition: opacity 0.4s;
        }
        .options{
            /* opacity: 0;*/
            position: absolute;
        }
        .colorOptions{
            >a, .colorhex{
                display: inline-block;
                input{
                    font-size: 1em;
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .typographyBtnOptions{
            >ul{}
            span{
                width: 16px;
                height: 10px;
                display: block;margin: 7px 6px;
                border-width: 1px;
                border-style: solid;
                border-color: $light-btnColorBorder;
            }
            .setBorderBtn li a{
                width: 26px;
            }
            li a {
                 width: 30px;
            }
            .fullrd{
                 @include border-radius(15px);
            }
            .rd{
                 @include border-radius(7px);
            }
            .sq{

            }



        }
        .typeOptions.activeSublist{width: 122px;}

        .setBorderBtn{
            background-color: aqua;
            input{
                display: inline-block;
                margin: 6px 5px;
            }
            .borderBtn{
                 display: inline-block;
            }
            ul{
                margin-top: 26px;
                margin-left: 22px;
                width: 90px;
            }
            a{
                display: table-cell;
                vertical-align: middle;
            }
            li span:hover{
                border-color: $light-btnColorBorderHover;
            }
        }



    }
    .set{
        margin-top: 20px;
      
        
        .settings{
             opacity: 1;

        }
        .active{
            opacity: 1;
            pointer-events: auto;
        }
        .animate{
            word-wrap: nowrap;
            pointer-events: none;
            -webkit-transition: opacity 0.4s;
            -moz-transition: opacity 0.4s;
            -o-transition: opacity 0.4s;
            transition: opacity 0.4s;
        }

    }

}

.awpDefault{
     .set{
        .setTypo{
           
            .setAlignment{
                width: 50%;
                li{
                    display: inline-block;
                }
            }
            .setLightHeight{
                width: 50%;
            }
        }
        .setFont{
            background: orange;
        }
        .setHeading{
            span{
                 margin-bottom: 2%;
                 width: 100%;
                 display: block;

            }
            .heading1{
                font-size:150%;
            }
            .heading2{
                font-size: 125%;
            }
            .heading3{
                font-size: 100%;
            }
            .heading4{
                font-size: 90%;
            }
            .heading5{
                 font-size: 90%;
            }
        }
        .setColor{
            background: green;

        }
        .setLink{
            .targetOptions {
                .block{
                    display: inline-block;
                    width: 49%;
                    vertical-align: top;
                }
                span{
                    line-height: 50px;
                }
                .switch{ float:right;margin-top: 14px;}
                .onoffswitch{
                   
                }
            }
            
        }

    }


}
