.onoffswitch {
  position: relative;
  width: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 22px;
  padding: 0;
  line-height: 22px;
  border: 2px solid #CCCCCC;
  border-radius: 22px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in; }

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 22px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border: 2px solid #CCCCCC;
  border-radius: 36px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #46EB9E; }

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #46EB9E; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none !important; }

.dark {
  color: #fff; }
  .dark .setLink .a-btn-lg {
    width: 100%;
    padding: 8px 0px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; }

.awp {
  float: left;
  width: 300px;
  /*navigation*/
  /*Active list */
  /*general buttons*/
  /*Temporal*/ }
  .awp .arrows {
    margin: 0 auto; }
  .awp .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #444; }
  .awp .arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #444; }
  .awp .controller {
    background-color: #444;
    padding: 5px 3px 12px 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .awp li a {
    height: 26px;
    width: 26px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    display: block; }
  .awp li a:hover {
    background-color: #fadafd; }
  .awp li .nav-icon i {
    line-height: 26px; }
  .awp .a-btn-circle {
    height: 22px;
    width: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .awp .textButton {
    width: auto;
    display: table-cell;
    vertical-align: middle; }
    .awp .textButton .button {
      width: auto !important;
      color: #2a2a2a;
      text-transform: uppercase;
      font-size: 9px;
      line-height: 10px;
      padding: 1px 3px;
      margin: 0px 5px;
      background-color: #fadafd;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }
  .awp .solid {
    background-color: #fff; }
    .awp .solid :hover {
      background-color: #fadafd; }
  .awp .hideSubMenu {
    display: none; }
  .awp .hardhideSubMenu {
    display: none !important; }
  .awp .inlineblock li {
    display: inline-block; }
  .awp > .options {
    position: relative; }
  .awp .activelist {
    position: relative; }
    .awp .activelist > ul {
      top: 0px;
      left: 26px; }
  .awp .activelist .hideSubMenu {
    display: block; }
  .awp .activeSublist {
    position: relative; }
    .awp .activeSublist > ul {
      top: 0px;
      left: 0px; }
  .awp .activeSubSublist {
    position: relative; }
  .awp .options {
    background-color: #444;
    /*width: 100%;*/ }
    .awp .options li {
      height: 26px;
      vertical-align: top;
      word-spacing: normal;
      /*padding: 4px;*/
      display: inline-block;
      text-decoration: none;
      color: #fff; }
    .awp .options .active > a {
      display: inline-block; }
    .awp .options .active > ul {
      width: 100%;
      height: 100%;
      /* position: absolute;
       top: 0;
       left: 0;8*/
      opacity: 1;
      /*pointer-events: auto;*/
      display: inline-block;
      margin-top: -4px; }
    .awp .options .animate > ul {
      word-wrap: nowrap;
      /*  pointer-events: none;*/
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .awp .options .options {
      /* opacity: 0;*/
      position: absolute; }
    .awp .options .colorOptions > a, .awp .options .colorOptions .colorhex {
      display: inline-block; }
      .awp .options .colorOptions > a input, .awp .options .colorOptions .colorhex input {
        font-size: 1em;
        border: none;
        background-color: transparent; }
    .awp .options .typographyBtnOptions span {
      width: 16px;
      height: 10px;
      display: block;
      margin: 7px 6px;
      border-width: 1px;
      border-style: solid;
      border-color: #fff; }
    .awp .options .typographyBtnOptions .setBorderBtn li a {
      width: 26px; }
    .awp .options .typographyBtnOptions li a {
      width: 30px; }
    .awp .options .typographyBtnOptions .fullrd {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px; }
    .awp .options .typographyBtnOptions .rd {
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }
    .awp .options .typeOptions.activeSublist {
      width: 122px; }
    .awp .options .setBorderBtn {
      background-color: aqua; }
      .awp .options .setBorderBtn input {
        display: inline-block;
        margin: 6px 5px; }
      .awp .options .setBorderBtn .borderBtn {
        display: inline-block; }
      .awp .options .setBorderBtn ul {
        margin-top: 26px;
        margin-left: 22px;
        width: 90px; }
      .awp .options .setBorderBtn a {
        display: table-cell;
        vertical-align: middle; }
      .awp .options .setBorderBtn li span:hover {
        border-color: #fadafd; }
  .awp .set .settings {
    opacity: 1; }
  .awp .set .active {
    opacity: 1;
    pointer-events: auto; }
  .awp .set .animate {
    word-wrap: nowrap;
    pointer-events: none;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s; }

.awpDefault .set .setTypo .setAlignment {
  width: 50%; }
  .awpDefault .set .setTypo .setAlignment li {
    display: inline-block; }
.awpDefault .set .setTypo .setLightHeight {
  width: 50%; }
.awpDefault .set .setFont {
  background: orange; }
.awpDefault .set .setColor {
  background: green; }
.awpDefault .set .setLink .targetOptions .block {
  display: inline-block;
  width: 49%;
  vertical-align: top; }
.awpDefault .set .setLink .targetOptions span {
  line-height: 50px; }
.awpDefault .set .setLink .targetOptions .switch {
  float: right;
  margin-top: 14px; }

/*# sourceMappingURL=style.css.map */
