  <!DOCTYPE html >
<html lang="en" ng-app="awp">
    <head >
        <title>nav</title>

         <link rel="stylesheet" href="scss/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
         <script src="https://code.angularjs.org/1.5.8/angular.js"></script>

         <script src="app/app.js"></script>
    </head>
    <body >
<style>
.activelist    .typographyOptions { width: 240px;}
.activeSublist .typographyHeading { width: 240px;}
</style>
        <div class="awp awpDefault dark" ng-controller="awpCtrl">
          <div class="arrows arrow-up"></div>
          <div class="controller" >
            <ul class="options">
                <li class="animate " ng-class="{'activelist': menu.typography }" >
                    <a class="nav-icon" ng-click="switchMenu('typography')" ng-show="typography" >
                        <i class="fa fa fa-pencil" aria-hidden="true" title="typo"></i>
                    </a>
                    <ul class="options typographyOptions" ng-show="typographyOptions" >

                            <li>
                                <a ng-click="activeMenu()" class="nav-icon" ng-show="typographyBold">
                                    <i class="fa fa-bold" aria-hidden="true" title="Bold"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="activeMenu()" class="nav-icon" ng-show="typographyItalic">
                                    <i class="fa fa-italic" aria-hidden="true" title="Italic"></i>
                                </a>
                            </li>
                            <li ng-class="{'activeSublist': menu.typographyHeadingOptions }" >
                                <a ng-click="switchMenu('typographyHeadingOptions')" class="nav-icon" ng-show="typographyHeadingOptions">
                                    <i class="fa fa-header" aria-hidden="true" title="Heading"></i>
                                </a>
                                  <ul class="options inlineblock typographyHeading" ng-show="typographyHeading">
                                    <li><a>H<sub>1<sub></a></li>
                                    <li><a>H<sub>2<sub></a></li>
                                    <li><a>H<sub>3<sub></a></li>
                                    <li><a>H<sub>4<sub></a></li>
                                    <li><a>H<sub>5<sub></a></li>
                                    <li><a>H<sub>6<sub></a></li>
                                  </ul>
                            </li>
                            <li ng-class="{'activeSublist': menu.typographyLink }" >
                                <a ng-click="switchMenu('typographyLink')" class="nav-icon" ng-show="typographyLink">
                                    <i class="fa fa-link" aria-hidden="true" title="Link"></i>
                                </a>
                                <div ng-show="typographyLinkURL">
                                    <input type="text" placeholder="#fff" />
                                    <button class="Abtn-circle">OK</button>
                                </div>
                            </li>
                            <li ng-show="typographyUppercaseLowecase">
                                <a ng-click="activeMenu()" class="nav-icon">
                                    <i class="fa fa-font" aria-hidden="true" title="Uppercase / Lowecase"></i>
                                </a>

                            </li>
                            <li class="colorOptions " ng-class="{'activeSublist': menu.typographyColorOptions }" ng-show="typographyColorOptions">
                                <a ng-click="switchMenu('typographyColorOptions')" class="nav-icon">
                                    <i class="fa fa-slack" aria-hidden="true" title="Color"></i>
                                </a>
                                <div class="colorhex " ng-show="typographyColorHex">
                                    <input type="text" placeholder="#fff" />
                                    <button class="Abtn-circle">OK</button>
                                </div>
                            </li>
                            <li >
                               <a ng-click="" class="nav-icon" ng-show="typographyFonts">
                                <i class="fa " aria-hidden="true" title="Fonts">T</i>
                               </a>
                            </li>
                            <li class="typographyBtnOptions " ng-class="{'activeSublist': menu.typographyBtnStyleOptions }" ng-show="typographyBtnStyleOptions">
                                <a class="nav-icon textButton" ng-click="switchMenu('typographyBtnStyleOptions')"  >
                                    <span class="button">type</span>
                                </a>
                                <ul class="options inlineblock" ng-show="typographyBtns">
                                    <li class="activeSublist setBorderBtn">
                                        <input type="radio" />
                                        <ul class="options inlineblock">
                                            <li><a><span class="fullrd"></span></a></li>
                                            <li><a><span class="rd"></span></a></li>
                                            <li><a><span class="sq"></span></a></li>
                                        </ul>
                                    </li>
                                    <li><a><span class="fullrd solid"></span></a></li>
                                    <li><a><span class="rd solid"></span></a></li>
                                    <li><a><span class="sq solid"></span></a></li>
                                </ul>

                            </li>
                            <li>
                                 <a ng-click="activeMenu()" class="nav-icon textButton" ng-show="typographyBtnResize">
                                     <span class="button">res</span>
                                 </a>
                            </li>

                        </ul>
                </li>
                <li ng-show="settings" ng-show="settings">
                     <a  class="nav-icon">
                         <i class="fa fa-sliders" aria-hidden="true" title="settings"></i>
                     </a>
                </li>
                <li ng-show="addSections" ng-show="addSections">
                    <a class="nav-icon">
                        <i class="fa fa-plus" aria-hidden="true" title="Add"></i>
                    </a>
                </li>
                <li ng-show="addExtra" ng-show="addExtra">
                    <a class="nav-icon">
                        <i class="fa fa-plus" aria-hidden="true" title="Extra"></i>
                    </a>
                </li>
            </ul>
            <div class="set">
                    <div class="settings setTypo animate" ng-show="set_typography">
                        <ul class="setAlignment">
                             <li> <i class="fa fa-align-left" aria-hidden="true" title="Left"></i></li>
                             <li> <i class="fa fa-align-center" aria-hidden="true" title="Center"></i></li>
                             <li> <i class="fa fa-align-right" aria-hidden="true" title="Right"></i></li>
                             <li> <i class="fa fa-align-justify" aria-hidden="true" title="Justify"></i></li>
                        </ul>
                        <div class="setLightHeight">
                        </div>

                    </div>
                    <div class="settings setFont" ng-show="set_typographyFonts"></div>

                    <div class="settings setColor animate" ng-show="set_typographyColorHex">
                        REX color
                    </div>
                    <div class="settings setLink animate" ng-show="set_typographyLink">

                        <div class="rheight targetOptions">
                          <div class="block">
                            <span>Show in new tab</span>
                          </div>
                          <div class="block">
                            <div class="switch">
                              <div class="onoffswitch">
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                  <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="rheight">
                            <button class="a-btn-lg a-btn-def">Convert to button</button>
                        </div>
                    </div>
            </div>
          </div>
          <div class="arrows arrow-down"></div>
        </div>
    </body>
</html>
